<!-- TODO: Remove this file when the packages are available on NuGet. -->
<configuration>
    <packageSources>
        <add key="vside" value="https://pkgs.dev.azure.com/azure-public/vside/_packaging/msft_consumption/nuget/v3/index.json" />
    </packageSources>

    <packageSourceMapping>
        <packageSource key="vside">
            <package pattern="Microsoft.NET.StringTools" />
            <package pattern="Microsoft.ServiceHub.*" />
            <package pattern="Microsoft.VisualStudio.*" />
            <package pattern="Microsoft.VSSDK.*" />
            <package pattern="StreamJsonRpc" />
        </packageSource>
    </packageSourceMapping>
</configuration>
