<!-- TODO: Remove this file when the packages are available on NuGet. -->
<configuration>
    <packageSources>
        <add key="vs-extensibility" value="https://pkgs.dev.azure.com/azure-public/vside/_packaging/msft_consumption/nuget/v3/index.json" />
    </packageSources>

    <packageSourceMapping>
        <packageSource key="vs-extensibility">
            <package pattern="*" />
        </packageSource>
    </packageSourceMapping>
</configuration>
